/* CSS for Invoice*/
/* Borrowed some CSS reference from Lab 6 */

/*Body*/
body {
    font-size: large;
    text-align: center;
    background-color: rgb(194, 194, 135);
}
/*Table*/
table {
    text-align: center;
    margin: auto;
    
}

/* Headers*/
h1, h2, p {
    text-align: center;
    color: black;
}

