/*CSS for Prodcuts_Display*/

/* Pictures*/ 
img {
    width: 50%;
    height: auto;
    padding: 10%;
}

/* Body*/ 
body {
    text-align: center;
    margin: auto;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: blanchedalmond;
}

/* Pictures*/ 


/* */ 


/* */ 