/*CSS for Prodcuts_Display*/

/* Pictures*/ 
img {
    width: 50%;
    height: 60%;
    inline-size: auto;
    align-content: center;
}

/* Body*/ 
body {
    text-align: center;
    margin: auto;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: blanchedalmond;
}

/* Pictures*/ 
main {
    text-align: center;
}

/* */ 
h2 {
    text-align: center;
}

/* */ 