/* Nicholas Sebastian */
/*CSS for Prodcuts_Display*/


img {
    width: 250px; 
    height: 250px;
    
}

/* Body*/ 
body {
    text-align: center;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


