/* Nicholas Sebastian */
/*CSS for Prodcuts_Display*/
/* Borrowed some CSS reference from Lab 6 */

/* Pictures*/ 
/* img {
    width: 50%;
    height: 60%;
    inline-size: auto;
    align-content: center;
} */

img {
    width: 250px; 
    height: 250px;
    
}

/* Body*/ 
body {
    text-align: center;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


