body {
    font-family: Open Sans;
    color: yellow;
    margin: 10px 50px 10px 50px;
    width: 950;
    background-color: black;
}

h1, h2 {
    font-family: Oswald;
}

img {
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display:inline;
}


#tablecontents a {
    margin-left: 80px;
    margin-right: 80px;
}